name: mobileraker
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 2.0.0+35

environment:
  sdk: ">=2.17.6 <3.0.0"
  flutter: ">=2.0.0"


dependencies:
  flutter:
    sdk: flutter


  web_socket_channel: ^2.1.0
  http: ^0.13.4

  #firebase
  firebase_core: ^1.16.0
  firebase_messaging: ^11.3.0
  firebase_analytics: ^9.1.7
  firebase_app_check: ^0.0.6+11

  #architecture
  freezed_annotation: ^2.1.0
  flutter_hooks: ^0.18.0
  hooks_riverpod: ^2.0.0-dev.9

  #routing
  go_router: ^4.2.7

  #util
  rxdart: ^0.27.3
  stringr: ^1.0.0
  vector_math: ^2.1.2
  enum_to_string: ^2.0.1
  uuid: ^3.0.5
  url_launcher: ^6.0.20
  json_annotation: ^4.5.0
  logger: ^1.1.0
  logger_flutter:
    git: https://github.com/xaynetwork/logger_flutter
  package_info_plus: ^1.4.2


  #persisstent
  hive: ^2.0.4
  hive_flutter: ^1.1.0
  file: ^6.1.2

  #theme
  cupertino_icons: ^1.0.2
  flex_color_scheme: ^5.0.1
  google_fonts: ^3.0.1

  #notification
  awesome_notifications: ^0.6.18+2

  #form
  flutter_form_builder: ^7.0.0
  form_builder_validators: ^8.1.1

  #tranlation
  easy_localization: ^3.0.0

  #purchases
  #  purchases_flutter: ^3.9.5

  #rating
  rate_my_app: ^1.1.3

  #ui
  percent_indicator: ^4.0.1
  flutter_icons:
    git: https://github.com/jibiel/flutter-icons.git
  flutter_spinkit: ^5.1.0
  progress_indicators: ^1.0.0
  #  pull_to_refresh: ^2.0.0
  pull_to_refresh_flutter3: ^2.0.1
  animated_bottom_navigation_bar: ^0.3.3
  animations: ^2.0.2
  flip_card: ^0.6.0
  flutter_breadcrumb: ^1.0.1
  cached_network_image: ^3.2.0
  shimmer: ^2.0.0
  reorderables: ^0.5.0
  flutter_speed_dial: ^6.0.0
  dots_indicator: ^2.0.0
  webview_flutter: ^3.0.2
  fl_chart: ^0.55.0
  flutter_slidable: ^1.2.0
  code_text_field: ^1.0.2
  mobile_scanner: ^2.0.0
  touchable: ^1.0.2


#  ditredi: ^1.0.3



dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.1.5
  hive_generator: ^1.1.1
  flutter_lints: ^2.0.0
  freezed: ^2.1.0+1
  json_serializable: ^6.1.5

flutter_icons:
  android: true
  ios: true
  image_path: "assets/icon/mr_rec.png"
  #image_path_ios: "assets/icon/mr_rec.png"
  adaptive_icon_background: "#2A2A2A"
  adaptive_icon_foreground: "assets/icon/ic_launcher_foreground.png"
  remove_alpha_ios: true

flutter_native_splash:

  # This package generates native code to customize Flutter's default white native splash screen
  # with background color and splash image.
  # Customize the parameters below, and run the following command in the terminal:
  # flutter pub run flutter_native_splash:create
  # To restore Flutter's default white splash screen, run the following command in the terminal:
  # flutter pub run flutter_native_splash:remove

  # color or background_image is the only required parameter.  Use color to set the background
  # of your splash screen to a solid color.  Use background_image to set the background of your
  # splash screen to a png image.  This is useful for gradients. The image will be stretch to the
  # size of the app. Only one parameter can be used, color and background_image cannot both be set.
  color: "#2A2A2A"
  #background_image: "assets/background.png"

  # Optional parameters are listed below.  To enable a parameter, uncomment the line by removing
  # the leading # character.

  # The image parameter allows you to specify an image used in the splash screen.  It must be a
  # png file and should be sized for 4x pixel density.
  image: assets/icon/mr_logo.png

  # The branding property allows you to specify an image used as branding in the splash screen.
  # It must be a png file. Currently, it is only supported for Android < v12 and iOS.
  #branding: assets/dart.png

  # To position the branding image at the bottom of the screen you can use bottom, bottomRight,
  # and bottomLeft. The default values is bottom if not specified or specified something else.
  #branding_mode: bottom

  # The color_dark, background_image_dark, image_dark, branding_dark are parameters that set the background
  # and image when the device is in dark mode. If they are not specified, the app will use the
  # parameters from above. If the image_dark parameter is specified, color_dark or
  # background_image_dark must be specified.  color_dark and background_image_dark cannot both be
  # set.
  #color_dark: "#042a49"
  #background_image_dark: "assets/dark-background.png"
  #image_dark: assets/splash-invert.png
  #branding_dark: assets/dart_dark.png

  # Android 12 handles the splash screen differently than previous versions.  Please visit
  # https://developer.android.com/guide/topics/ui/splash-screen
  # Following are Android 12 specific parameter.
  android_12:
    # The image parameter sets the splash screen icon image.  If this parameter is not specified,
    # the app's launcher icon will be used instead.
    # Please note that the splash screen will be clipped to a circle on the center of the screen.
    # App icon with an icon background: This should be 960×960 pixels, and fit within a circle
    # 640 pixels in diameter.
    # App icon without an icon background: This should be 1152×1152 pixels, and fit within a circle
    # 768 pixels in diameter.
    image: assets/icon/mr_logo.png

  # App icon background color.
  #icon_background_color: "#111111"

  # The image_dark parameter and icon_background_color_dark set the image and icon background
  # color when the device is in dark mode. If they are not specified, the app will use the
  # parameters from above.
  #image_dark: assets/android12splash-invert.png
  #icon_background_color_dark: "#eeeeee"

  # The android, ios and web parameters can be used to disable generating a splash screen on a given
  # platform.
  #android: false
  #ios: false
  #web: false

  # The position of the splash image can be set with android_gravity, ios_content_mode, and
  # web_image_mode parameters.  All default to center.
  #
  # android_gravity can be one of the following Android Gravity (see
  # https://developer.android.com/reference/android/view/Gravity): bottom, center,
  # center_horizontal, center_vertical, clip_horizontal, clip_vertical, end, fill, fill_horizontal,
  # fill_vertical, left, right, start, or top.
  #android_gravity: center
  #
  # ios_content_mode can be one of the following iOS UIView.ContentMode (see
  # https://developer.apple.com/documentation/uikit/uiview/contentmode): scaleToFill,
  # scaleAspectFit, scaleAspectFill, center, top, bottom, left, right, topLeft, topRight,
  # bottomLeft, or bottomRight.
  #ios_content_mode: center
  #
  # web_image_mode can be one of the following modes: center, contain, stretch, and cover.
  #web_image_mode: center

  # To hide the notification bar, use the fullscreen parameter.  Has no effect in web since web
  # has no notification bar.  Defaults to false.
  # NOTE: Unlike Android, iOS will not automatically show the notification bar when the app loads.
  #       To show the notification bar, add the following code to your Flutter app:
  #       WidgetsFlutterBinding.ensureInitialized();
  #       SystemChrome.setEnabledSystemUIOverlays([SystemUiOverlay.bottom, SystemUiOverlay.top]);
  #fullscreen: true

  # If you have changed the name(s) of your info.plist file(s), you can specify the filename(s)
  # with the info_plist_files parameter.  Remove only the # characters in the three lines below,
  # do not remove any spaces:
  #info_plist_files:
  #  - 'ios/Runner/Info-Debug.plist'
  #  - 'ios/Runner/Info-Release.plist'




#
#dependency_overrides:
#  date_range_picker:
#    git:
#      url: https://github.com/LempereurBenjamin/date_range_picker
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - google_fonts/
    - assets/images/
    - assets/icon/
    - assets/translations/
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
