name: common
description: Common classes shared among the public and private codebase of mobileraker
version: 2.6.7
homepage: mobileraker.com

environment:
  sdk: '>=3.8.0 <4.0.0'
  flutter: '>=3.32.0'

dependency_overrides:
#  web: ^0.5.1 # required because network info is using 0.3, but this package is only used by web which we dont build

dependencies:
  flutter:
    sdk: flutter

  #network
  web_socket_channel: ^3.0.1
  dio: ^5.8.0+1
  dio_smart_retry: ^7.0.1
  flutter_web_auth_2: ^4.1.0
  http: ^1.2.1

  #firebase
  firebase_core_platform_interface: ^6.0.0
  firebase_core: ^3.6.0
  firebase_analytics: ^11.3.5
  firebase_app_check: ^0.3.1+6
  firebase_crashlytics: ^4.1.5
  firebase_remote_config: ^5.1.5
  cloud_firestore: ^5.5.0
  firebase_auth: ^5.3.3

  #ads
  google_mobile_ads: ^6.0.0

  #purchases
  purchases_flutter: ^8.11.0

  #notification
  awesome_notifications_core: ^0.10.1
  awesome_notifications: ^0.10.1
  awesome_notifications_fcm: ^0.10.1
  live_activities: ^2.4.1
  #        ref: main
  #      ref: feature/multi-state-req
#  live_activities:
#    path: ../../flutter_live_activities

  #routing
  go_router: ^16.2.4

  #architecture
  freezed_annotation: ^2.4.1
  flutter_hooks: ^0.21.2
  hooks_riverpod: ^2.6.1
  riverpod_annotation: ^2.6.1
  json_annotation: ^4.8.1

  #i18n
  easy_localization: ^3.0.3

  #persisstent
  path_provider: ^2.1.5
  hive_ce: ^2.8.0+1
  hive_ce_flutter: ^2.1.0
  flutter_cache_manager: ^3.3.1

  #reactive UI
  responsive_framework: ^1.4.0

  #bottomsheet:
  smooth_sheets: ^0.14.0

  #ui
  flutter_icons:
    git: https://github.com/jibiel/flutter-icons.git
  flutter_svg: ^2.0.15
  flutter_svg_provider: ^1.0.7
  progress_indicators: ^1.0.0
  pull_to_refresh_flutter3: ^2.0.2

  #misc
  talker_flutter: ^5.0.1
  rxdart: ^0.28.0
  stringr: ^1.0.0
  collection: ^1.19.0
  uuid: ^4.5.2
  network_info_plus: ^6.1.1
  permission_handler: ^12.0.0+1
  url_launcher: ^6.3.1
  package_info_plus: ^8.1.1
  vector_math: ^2.1.4
  form_builder_validators: ^11.0.0
  keep_screen_on: ^4.0.0

  #crypto
  hashlib_codecs: ^2.2.0
  hashlib: ^1.21.1


dev_dependencies:
  analyzer: 7.3.0
  flutter_test:
    sdk: flutter
  mockito: ^5.4.5
  flutter_lints: ^6.0.0
  riverpod_lint: ^2.6.3
  custom_lint: ^0.7.0
  build_runner: 2.4.15
  freezed: ^2.5.2
  json_serializable: ^6.9.5
  riverpod_generator: ^2.6.3
  hive_ce_generator: ^1.8.0

flutter:
  fonts:
    - family: Mobileraker
      fonts:
        - asset: fonts/Mobileraker.ttf