name: common
description: Common classes shared among the public and private codebase of mobileraker
version: 2.6.7
homepage: mobileraker.com

environment:
  sdk: '>=3.2.3 <4.0.0'
  flutter: '>=3.16.5'

dependency_overrides:
  intl: ^0.18.1 # required due to awesome notifications and formbuilder
  web: ^0.5.1


dependencies:
  flutter:
    sdk: flutter

  #network
  web_socket_channel: ^2.4.4
  dio: ^5.3.3
  dio_smart_retry: ^6.0.0
  flutter_web_auth: ^0.5.0
  http: ^1.2.1

  #firebase
  firebase_core_platform_interface: ^5.0.0
  firebase_core: ^2.30.0
  firebase_analytics: ^10.10.2
  firebase_app_check: ^0.2.2+2
  firebase_crashlytics: ^3.5.2
  firebase_remote_config: ^4.4.2
  cloud_firestore: ^4.17.0

  firebase_auth: ^4.19.2

  #purchases
  purchases_flutter: ^7.0.1

  #notification
  awesome_notifications_core: ^0.9.3
  awesome_notifications: ^0.9.3
  awesome_notifications_fcm: ^0.9.3
  #  live_activities: ^1.9.3
  live_activities:
    git:
      url: https://github.com/Clon1998/flutter_live_activities
  #        ref: main
  #      ref: feature/multi-state-req
  #  live_activities:
  #    path: ../../flutter_live_activities

  #routing
  go_router: ^14.2.2

  #architecture
  freezed_annotation: ^2.4.1
  flutter_hooks: ^0.20.1
  hooks_riverpod: ^2.3.8
  riverpod_annotation: ^2.1.6
  json_annotation: ^4.8.1
  worker_manager: ^6.3.1

  #i18n
  easy_localization: ^3.0.3

  #persisstent
  path_provider: ^2.1.0
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  flutter_cache_manager: ^3.3.1

  #reactive UI
  responsive_framework: ^1.4.0

  #ui
  flutter_icons:
    git: https://github.com/jibiel/flutter-icons.git
  flutter_svg: ^2.0.5
  progress_indicators: ^1.0.0

  #misc
  logger: ^1.4.0
  rxdart: ^0.27.3
  stringr: ^1.0.0
  collection: ^1.17.0
  uuid: ^4.3.3
  network_info_plus: ^4.0.2
  permission_handler: ^11.0.0
  url_launcher: ^6.1.6
  package_info_plus: ^5.0.1

  #crypto
  hashlib_codecs: ^2.2.0
  hashlib: ^1.12.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.3.2
  flutter_lints: ^3.0.1
  riverpod_lint: ^2.3.10
  custom_lint: ^0.6.4
  build_runner: ^2.4.9
  freezed: ^2.5.2
  json_serializable: ^6.4.1
  riverpod_generator: ^2.4.0
  hive_generator: ^2.0.0

flutter:
  fonts:
    - family: Mobileraker
      fonts:
        - asset: fonts/Mobileraker.ttf