name: Build Android
on:
  workflow_dispatch:
  push:
    tags:
      - 'android*'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          path: 'mobileraker'
      - uses: actions/checkout@v3
        with:
          repository: 'Clon1998/mobileraker_pro'
          ref: 'main'
          path: 'mobileraker_pro'
          token: ${{ secrets.PRO_PAT }}
      - uses: actions/setup-java@v1
        with:
          java-version: '17.x'
      - uses: subosito/flutter-action@v2
      #        with:
      #          flutter-version: '3.7.12'
      - name: Setup Env Files
        working-directory: ./mobileraker
        run: |
          echo ${{ secrets.GOOGLE_SERVICES_JSON }} | base64 -d > ./android/app/google-services.json
          echo ${{ secrets.KEY_PROPERTIES }} | base64 -d > ./android/key.properties
          echo ${{ secrets.PLAY_STORE_JKS }} | base64 -d > ./android/app/gps.jks
          echo ${{ secrets.AWESOME_NOTI_LICENSE }} | base64 -d > ./lib/license.dart
          echo ${{ secrets.FIREBASE_OPTIONS }} | base64 -d > ./lib/firebase_options.dart
      - name: Build Mobileraker Pro
        working-directory: ./mobileraker_pro
        run: |
          flutter pub get || true
          flutter packages pub run build_runner build
      - name: Build Mobileraker Common Module
        working-directory: ./mobileraker/common
        run: |
          flutter pub get || true
          flutter packages pub run build_runner build
      - name: Build Mobileraker
        working-directory: ./mobileraker
        run: |
          flutter pub get
          flutter packages pub run build_runner build
          flutter build apk --release --verbose
      - name: Generate changelog
        id: changelog
        uses: metcalfc/changelog-generator@v3.0.0
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Create a Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "mobileraker/build/app/outputs/flutter-apk/app-release.apk"
          token: ${{ secrets.GITHUB_TOKEN }}
          body: ${{ steps.changelog.outputs.changelog }}